body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f1fc5e;
    margin: 0;
    padding: 0;
}

.container {
    background: rgb(83, 226, 138);
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    border: 1px solid #333; /* Added border */
}

input, select, button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #450ec5;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

